
html,
body{

  color: azure;
  background-color: #1b1b32;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 40px;
}



.container{
    font-family:  'Abel', sans-serif;

}
#listContainer{
    
    width: 50%;
    box-shadow: rgb(0, 162, 255, 0.3) 5px 5px 5px 5px, rgba(152, 221, 230, 0.3) 10px 10px 10px 10px, rgba(46, 98, 240, 0.2) 15px 15px 15px 15px, rgba(46, 227, 240, 0.1) 20px 20px, rgba(169, 46, 240, 0.05) 25px 25px;
    background-color: rgb(77, 75, 75);

}
input.form-control{
    margin-top: 20px;
    width: 50%;
    display: initial;
    font-family:  'Abel', sans-serif;
}


i.fab{
    color: blue;
}

